@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap');
:root{
    --heading-font: "Bebas Neue";
    --paragraph-font: Oswald, Helvetica, sans-serif;
}
#content{
    width: 1600px;
    margin: 0 auto;
}
#background {
    height: 725px;
    background-color: #98EBEC; 
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo{
    width: 80px;
}
#logo_link {
    padding: 5px;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
body {
    background-color: #247BA0; 
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header {
    background-color: #6A7152;
}
nav a:hover {
    background-color: #051923;
    color: whitesmoke;
}
.book, .join {
    background-color: #051923;
    color:whitesmoke;
    text-decoration: none;
    font-size: 2em;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #051923;
    color:whitesmoke;
}
.msg {
    background-color: #051923;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: #6A7152;
    color: white;
    text-align: center;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title{
    color:whitesmoke;
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color:whitesmoke;
}
.msg h2{
    color:black;
    font-family: var(--heading-font);
}
.msg p{
    color:black;
    font-size: 2em;
    padding-bottom: 15px;
}
footer h3{
    color:black;
}
footer a{
    text-decoration: none;
    color:black;
}
footer a:hover{
    color:black;
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{
       margin: 200px 0;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}