#content{
    width: 1600px;
    margin: 0 auto;
}
#background {
    height: 725px;
    background-color: #98EBEC; 
}
.icon {
    width: 80px;
}
nav a {
    text-align: center;
    color: black;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
body {
    background-color: #247BA0; 
}
header {
    background-color: #6A7152;
}
nav a:hover {
    background-color: #051923;
    color: whitesmoke;
}
.book, .join {
    background-color: #051923;
    color:whitesmoke;
}
.book:hover, .join:hover {
    background-color: #051923;
    color:whitesmoke;
}
.msg {
    background-color: #051923;
}
footer {
    background-color: #6A7152;
    color: white;
    text-align: center;
}
.home-title{
    color:whitesmoke;
}
h4{
    color:whitesmoke;
}
.msg h2{
    color:black;
}
.msg p{
    color:black;
}
footer h3{
    color:black;
}
footer a{
    color:black;
}
footer a:hover{
    color:black;
}
